.ReactSnapSlider__scroller {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.ReactSnapSlider__scroller::-webkit-scrollbar {
  display: none;
}

.ReactSnapSlider__page {
  flex: none;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.ReactSnapSlider__item {
  flex: 1;
}

/* modern scroll snap points */
@supports (scroll-snap-align: start) {
  .ReactSnapSlider__scroller {
    scroll-snap-type: x mandatory;
  }

  .ReactSnapSlider__page {
    scroll-snap-align: center;
  }
}

/* old scroll snap points spec */
@supports not (scroll-snap-align: start) {
  .ReactSnapSlider__scroller {
    -webkit-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
    -webkit-scroll-snap-destination: 0% center;
    scroll-snap-destination: 0% center;
    -webkit-scroll-snap-points-x: repeat(100%);
    scroll-snap-points-x: repeat(100%);
  }

  .ReactSnapSlider__page {
    scroll-snap-coordinate: 0 0;
  }
}

